/* Register.css */

/* Block */
.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.register-container__title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Element */
.register-form {
  display: flex;
  flex-direction: column;
}

.register-form__group {
  margin-bottom: 15px;
}

.register-form__label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
}

.register-form__input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-form__button {
  background-color: #2841a7; /* Màu xanh lá */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-form__button:hover {
  background-color: #2d2188; /* Màu xanh lá đậm hơn khi hover */
}

.register-form__message {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
}
